.page-footer {
  background-color: $color-bg-darker;
  border-top: 1px $color-primary solid;

  & .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    @include media-tablet {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
