.theme__toggle {
  width: 40px;
  height: 40px;
}

.theme__icon {
  fill: $color-primary;
  transition: fill .3s ease-out, stroke .3s ease-out;

  &:hover {
    fill: $color-black;
    stroke: $color-black;
  }
}

.theme__icon--moon,
.theme__icon--sun {
  stroke: $color-primary;
}

.theme__icon--moon {
  stroke-width: 10px;
}

.theme__icon--sun {
  display: none;
  stroke-width: 1px;
}
