.projects__list {
  @include reset-list;
}

.projects__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  text-decoration: none;
  color: var(--color-primary);
  transition: color .5s ease-out, box-shadow .5s ease-out;

  &:hover {
    color: var(--color-hover);
    box-shadow: 0px 0px 10px 3px rgb(34 60 80 / 60%);
  }

  &:active {
    box-shadow: none;
    border: 1px solid var(--color-primary);
  }
}

.projects__image {
  padding-top: 10px;
  width: auto;
}
