.profile__inner {
  margin-bottom: 40px;

  @include media-tablet {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
}

.profile__header {
  margin-bottom: 20px;
  text-align: right;

  @include media-tablet {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.profile__title,
.profile__subtitle {
  margin-bottom: 10px;
}

.profile__info {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  & em {
    padding-left: 15px;
  }

  &:first-child {
    margin-bottom: 10px;
  }
}

.profile__icon {
  margin-left: 10px;
  fill: currentColor;
}
