.skills__list {
  @include reset-list;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.skills__item {
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.skills__level {
  position: relative;
  height: 25px;
  width: 50%;
  border: 2px solid $color-primary;
}

.skills__percent {
  position: absolute;
  height: 100%;
  text-align: right;
  background-color: $color-gradient;
}

.skills__percent--figma {
  width: 90%;
}

.skills__percent--html {
  width: 90%;
}

.skills__percent--css {
  width: 90%;
}

.skills__percent--sass {
  width: 80%;
}

.skills__percent--javascript {
  width: 40%;
}

.skills__percent--git {
  width: 30%;
}

.skills__percent--perfectionism {
  width: 99%;
}
