// Font-family
$font-family--georgia: "Georgia", serif;
$font-family--arial:   "Arial", sans-serif;

// Colors
$color-bg:        rgba(255, 250, 247, 1);
// $color-bg: rgba(17, 26, 36, 1);
$color-bg-darker: rgb(243 231 228 / 90%);
// $color-bg-darker: rgba(1, 28, 59, 0.9);
$color-primary:      rgba(91, 101, 114, 1);
// $color-primary: rgba(245, 231, 227, 1);
$color-hover: rgba(209, 173, 172, 1);
// $color-hover: rgba(54, 108, 151, 1);
$color-gradient: rgb(190, 211, 229);

// Variables
$content-width:     1280px;

// Viewports
$mobile-width:      320px;
$mobile-max-width:  767px;
$tablet-width:      768px;
$tablet-max-width:  1279px;
$desktop-width:     1280px;
